/* BEM = Bloque Elemento Modificador

Se usa siempre CLASS en lugar de ID.

Class = aplicar estilos
ID = aplicar funcionalidad (con javascript)

Su sintaxis es: .bloque_elemento--modificador
*/

.cards {
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px gray;
    border-radius: 5px;

}

.cards .card {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px;
    background-color: lightblue;
}

/* Darle estilo a la tarjeta 3 */
/* .cards y .card es en contexto mientras h3 es el key selector */
.cards .card h3{
    font-size: 24px;
    font-weight: bold;
}

.cards .card a {
    padding: 10px;
    background-color: green;
    color: white;
    text-decoration: none;
}

/* Forma de trabajar con BEM */
.cardsBEM {
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px gray;
    border-radius: 5px;
}

.cards__card {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px;
    background-color: lightblue;
}

.card__title{
    font-size: 24px;
    font-weight: bold;
}

.card__link {
    padding: 10px;
    background-color: green;
    color: white;
    text-decoration: none;
}

.card__link--rojo {
    background-color: red;
}